.container {
    margin: 6.8rem;
    position: relative;
}

.hero-container {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
}

.hero {
  font-size: 5.5rem;
  font-weight: bold;
  padding: 3.5rem 0;
  color: #080707;
}

.btn-submit {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 2.5rem;
  border: none;
  border-radius: none;
  color: #ffffff;
  font-size: 2.75rem;
  background-color: #e9092e;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.container .list .list-item {
  display: flex;
  padding: 1rem 2rem;
  background-color: #fbfbfb;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.container .list .list-item:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.container .list .list-item .right {
  text-align: left;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .list .list-item .right .btn-crud {
  margin: 0 1rem;
  color: #ffffff;
  background-color: #e9092e;
  border-radius: 0;
}

.container .list .list-item .right .btn-crud a {
  color: #ffffff;
}

.container .list .list-item:nth-last-of-type(n + 2) {
  border-bottom: 1px solid #cacaca;
}

.container .list .list-item .list-title {
  font-size: 2rem;
}

.container .list .list-item .list-count {
  font-size: 1.5rem;
}

.container .list .list-item .list-item-qt {
  text-align: right;
  font-size: 1.5rem;
  margin: 0;
  padding: 1.5rem;
  color: #e9092e;
}

.container .list .list-item .list-item-price {
  text-align: right;
  font-size: 1.5rem;
  margin: 0;
  padding: 1.5rem;
  color: #e9092e;
}
