<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Add Item page</title>
</head>
<body>
<h1>This is the add item page</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="center hideform">
    <button id="close" style="float: right;">X</button>
    <form action="/action_page.php">
        Item Name:
        <input type="text" name="itemName" value=" ">
        <br>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>