<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <title>AKAR Login</title>
</head>
<body>
    <nav class = "nav">
        <ul>
            <li>
                <a href = "/signUp" >
                    <div class = "nav-hero">AKAR Wishlist</div>
                </a>
            </li>
            <li>
                <a href = "/">Home</a>
            </li>
            <li>
                <a href = "/admin">Admin</a>
            </li>
            <li>
                <a href = "/login">Login</a>
            </li>
        </ul>
    </nav>
    <div class = "container">
        <h1 class = "hero">Admin Login</h1>
        <form class = "form"  method="post">
          <input class = "inp" type="text" name = "adminUsername" placeholder = "Username" value="{{request.form.adminUsername}}">
          <input class = "inp" type="password" name = "adminPassword" placeholder = "Password" value="{{request.form.adminPassword}}">     
            <button type = "submit" class = "btn-submit">Login</button>
            <br>{{error}}
        </form>
    </div>
</body>
</html>