<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <title>AKAR Admin Screen</title>
</head>
<body>
    <nav class = "nav">
        <ul>
            <li>
                <a href = "/" >
                    <div class = "nav-hero">AKAR Wishlist</div>
                </a>
            </li>
            <li>
                <a href = "/admin">Admin</a>
            </li>
            <li>
                <a href = "/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div class = "user-welcome">
        <h1>Welcome Back, Admin.</h1>
    </div>
    <div class = "container-list">
        <div class = "list-nav">
            <h2>Admin List</h2>
        </div>
        <ul class = "list">
            {%for row in data %}
            <li class = "user">
                <p class = "user-id">ID: {{row.userID}}</p>
                <div class = "right">
                    <p class = "credential">Username: {{row.username}}</p>
                    <p class = "credential">Password: {{row.password}}</p>
                    <button class = "btn-crud">
                        <a href = "/delete/{{row.userID}}">Delete</a>
                    </button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>