<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>Edit Item</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewItems.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>

<body>
    <div class="background">
        <nav class="navbar navbar-default">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">AKAR Wishlist</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="/wishList"></i>Wishlists</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login"></i>Login</a></li>
                        <li><a href="/logout"></i>Logout</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div align="center" class="column is-4 is-offset-4">
        <h3 class="title">Edit Item {{item['listName']}}</h3>
        <div class="box">
            <form method="POST" action="/confirmEditItem">
                <input type="hidden" name="itemID" value="{{item['ID']}}">
                <input type="hidden" name="wishlistID" value="{{item['wishlistID']}}">

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="listName" autofocus="" value="{{item['listName']}}">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="url" name="itemURL" autofocus="" value="{{item['itemURL']}}">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="url" name="imageURL" autofocus="" value="{{item['imageURL']}}">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="description" value="{{item['description']}}">
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Confirm Edit</button>
            </form>
        </div>
</body>

</html>
