<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <title>AKAR Home</title>
</head>
<body>
    <nav class = "nav">
        <ul>
            <li>
                <a href = "#" >
                    <div class = "nav-hero">AKAR Wishlist</div>
                </a>
            </li>
            <li>
                <a href = "/">Home</a>
            </li>
            <li>
                <a href = "/admin">Admin</a>
            </li>
            <li>
                <a href = "/login">Login</a>
            </li>
        </ul>
    </nav>
    <div class = "container">
        <div class = "hero-container">
            <h1 class = "hero">Welcome to AKAR Wishlist!</h1>
            <button type = "submit" class = "btn-submit"><a href ="/signUp"> Get Started </a></button>

        </div>
       
    </div>
</body>
</html>