<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewItems.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <title>AKAR View Add To Wishlist</title>
</head>
<body>
    <nav class = "nav">
        <ul>
            <li>
                <a href = "signup.html" >
                    <div class = "nav-hero">AKAR Wishlist</div>
                </a>
            </li>
            <li>
                <a href = "/">Home</a>
            </li>
            <li>
                <a href = "/admin">Admin</a>
            </li>
            <li>
                <a href = "/wishList">Wishlists</a>
            </li>
            <li>
                <a href = "/editUser">Profile</a>
            </li>
            <li>
                <a href = "/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div class = "container">
        <h1 class = "hero">Add To Wishlist</h1>
        <form class = "form" method="POST" action="/viewItems">
            <input type="hidden" name="wishlistID" value="{{wishlistID}}">
            <div>
                <input class = "inp" type="text" name = "listName" placeholder = "Item Name">
                <input class = "inp" type="url" name = "itemURL" placeholder = "Item URL">
            </div>
            <div>
                <input class = "inp" type="url" name = "imageURL" placeholder = "Image URL">
                <input class = "inp" type="text" name = "description" placeholder = "Description">
            </div>
            
            <button type = "submit" class = "btn-submit">Add Item To Wishlist</button>
        </form>

        <br>
        <br>
        <br>

        <ul class = "list">
            {% for item in data %}
            <li class = "list-item">
                <p class = "list-title">{{item[2]}}</p>
                <div class = "right">
                    <p class = "list-item-qt">{{item[3]}}</p>
                    <img width="150" height="150"  src={{item[4]}}>
                    <p class = "list-item-price">{{item[5]}}</p>
                    <button class = "btn-crud edit">Edit</button>
                    <button class = "btn-crud delete"> <a href="/wishlistDelete/{{item[0]}}/{{item[1]}}"> Delete</button></a>  
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>