<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wishList.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <title>AKAR View Add To Wishlist</title>
</head>
<body>
    <nav class = "nav">
        <ul>
            <li>
                <a href = "signup.html" >
                    <div class = "nav-hero">AKAR Wishlist</div>
                </a>
            </li>
            <li>
                <a href = "/">Home</a>
            </li>
            <li>
                <a href = "/admin">Admin</a>
            </li>
            <li>
                <a href = "/wishList">Wishlists</a>
            </li>
            <li>
                <a href = "/editUser">Profile</a>
            </li>
            <li>
                <a href = "/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div class = "container">
        <h1 class = "hero">Here are your wishlists, {{loginUser['name']}}.</h1>
        <form class = "form" method="POST" action="/addList">
            <input class = "inp" type="text" name = "name" placeholder = "Wishlist Name">
            <button type = "submit" class = "btn-submit">Create Wishlist</button>
        </form>

        <br>
        <br>
        <br>
        

        <ul class = "list">
            {% for row in wishlistTable %}
            <li class = "list-item">
                <p class = "list-title">{{row['name']}}</p>
                <div class = "right">
                    <p class = "list-count">{{row['wishlistID']}}</p>
                    <form method="GET" action="/viewItems?">
                        <input type="hidden" name="wishlistID" value="{{row['wishlistID']}}"/>
                        <button class = "btn-crud view">View</button>
                    </form>        
                    <button class = "btn-crud edit">Edit</button>
                    <form method="GET" action="/deleteList?">
                        <input type="hidden" name="wishlistID" value="{{row['wishlistID']}}" />
                        <button class = "btn-crud delete">Delete</button>        
                    </form>
                 </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>